* {
    padding: 0;
    margin: 0;
}
#header
{
    background-color: black;
    height: 110vh;
    background-size: cover;
    background-position: center;
}
#body{
    background-color: black;
}
.carousel {
  position: relative;

}
.container {
  width:1000px;
  height:500px;
  position: center;
}
img 
{
   width: 100%;
   height: auto;
}
div.city {
    display: flex;
    padding-left: 230px;
    color: grey;

}
.container-video {
    padding: 50px 100px;
    margin-top: 10px;
    background-color: #fff;
    box-shadow: 0 0 20px 7px rgba(0,0,0,0,2) ;
}

p {
    display: block;
    text-align: left;
    margin-block-start: 2em;
    margin-block-end: 0em;
    margin-inline-start: 30px;
    margin-inline-end: 5px;
    color: #555;
}
h4 {
    text-align: center;
    color: #555;
}
#footer {
    background-color: black;
    margin-top: 30px;
    position: relative;
    height: 200px;
    clear: both;
    color: white;
    display: flex; ;
    padding: 20px;
}
.social-links {
    display: flex;
}
.social-items a{
    padding: 3px 5px;
    font-size: 20px;
    display:flex;
}
.social-items ul {
    display: flex;
}

